Python Basics

In [1]:
#boolean variables
#true or false(truth values)
False

False

In [2]:
type(True)

bool

In [3]:
my_str='Swetha'

The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [5]:
my_str.istitle()

True

In [6]:
print(my_str.isalnum())#check if all are alphanumeric

True

In [7]:
print(my_str.isalpha())

True

In [8]:
print(my_str.isdigit())#is digit

False

In [9]:
print(my_str.isupper())

False

In [10]:
print(my_str.islower())

False

In [11]:
print(my_str.isspace())

False

In [12]:
print(my_str.endswith('a'))

True

In [13]:
print(my_str.startswith("a"))

False

Boolean and logical operators

In [14]:
True and True

True

In [15]:
True and False

False

In [16]:
True or False

True

Lists

Data Structure which is mutable,changable and ordered enclosed by[ ]

In [17]:
type([])

list

In [18]:
lst=list()

In [19]:
lst=['data','science','machine','learning',7]

In [20]:
len(lst)

5

Append

In [21]:
lst.append(['Iam a data scientist'])

In [22]:
lst

['data', 'science', 'machine', 'learning', 7, ['Iam a data scientist']]

In [23]:
lst[:5]

['data', 'science', 'machine', 'learning', 7]

In [25]:
lst[3:8]

['learning', 7, ['Iam a data scientist']]

insert

In [26]:
lst.insert(2,'Swetha')

In [27]:
lst

['data',
 'science',
 'Swetha',
 'machine',
 'learning',
 7,
 ['Iam a data scientist']]

extend

ppend() adds a single element to the end of the list while . extend() can add multiple individual elements to the end of the list.

In [28]:
lst=['Jin','Namjoon','Suga','j-hope']

In [29]:
lst.extend(['jimin','tae','junkook'])

In [30]:
lst

['Jin', 'Namjoon', 'Suga', 'j-hope', 'jimin', 'tae', 'junkook']

other operations

In [31]:
lst=[1,2,3,4,5,6,7]

In [32]:
sum(lst)

28

In [33]:
lst*7

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7]

pop()

The pop() method removes the element at the specified position.

In [34]:
lst.pop()

7

In [35]:
lst

[1, 2, 3, 4, 5, 6]

count()

In [2]:
lst=[1,2,2,2,3,4,5]
lst.count(2)

3

In [3]:
len(lst)

7

In [4]:
min(lst)

1

In [5]:
max(lst)

5

sets

A set is a data structure that stores unique elements of the same type in a sorted order.

In [6]:
set_var=set()

In [7]:
print(set_var)

set()

In [8]:
set_var={1,2,3,1,7}

In [9]:
set_var

{1, 2, 3, 7}

In [11]:
set_var={'I','Purple','You'}

In [12]:
set_var

{'I', 'Purple', 'You'}

In [13]:
set_var.add('Love')

In [14]:
set_var

{'I', 'Love', 'Purple', 'You'}

In [25]:
set1={1,2,3}
set2={1,2,3,4,5,6}

In [26]:
set2.intersection_update(set1)

In [27]:
set2

{1, 2, 3}

In [28]:
set2.difference(set1)

set()

Dictionaries

A dictionary is a general-purpose data structure for storing a group of objects. A dictionary has a set of keys and each key has a single associated value.

In [29]:
dic={}

In [30]:
type(dic)

dict

In [31]:
my_dict={'car1':'jaguar','car2':'audi','car3':'kia'}

In [32]:
my_dict['car1']

'jaguar'

In [33]:
for x in my_dict:
    print(x)

car1
car2
car3

In [34]:
for c in my_dict.values():
    print(c)

jaguar
audi
kia

In [35]:
for x in my_dict.items():
    print(x)

('car1', 'jaguar')
('car2', 'audi')
('car3', 'kia')

In [36]:
#nested dictionaries
father={'babu':1972}
mother={'malathi':1973}
sister={'lakshmi priya':2003}

fam={'fa':father,'mo':mother,'si':sister}

In [37]:
fam

{'fa': {'babu': 1972}, 'mo': {'malathi': 1973}, 'si': {'lakshmi priya': 2003}}

tuples

In [38]:
my_tuple=tuple()

In [39]:
my_tuple=('hello','world','!')

In [40]:
my_tuple

('hello', 'world', '!')